.site-navigator {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
}

.icon-header {
    width: 26px;
    height: 34px;
}

.left-header {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 50px;

}

.name-navigator {
    font-size: 25px;
    font-weight: 800;
    color: #2947A9;
    margin-left: 8px;

}

.right-header {
    margin-top: 20px;
    padding-left: 710px;
}

.item {
    color: black;
    font-family: "WorkSans";
    text-decoration: none;
    margin: 20px;
}

.last-item {
    color: orange;
}

.item:hover {
    color: blue;
    transition: 1s;
    text-decoration: underline;
}

/* середина сайта */
.site-presentation {
    background-image: url('/static/Background.jpg');
    height: 450px;
    width: 100%;
    position: relative;
}

.text-presentation {
    padding-top: 150px;
    padding-left: 170px;
    font-size: 50px;
}

.information-window {
    background-color: #3559C7;
    height: 156px;
    width: 280px;
    position: absolute;
    right: 0px;
    bottom: 0px;

}

.button-site-window {
    position: relative;
}

.button-next {
    position: absolute;
    right: 0px;
    width: 50%;
    background-color: #292E3D;
    color: white;
}

.button-back {
    position: absolute;
    width: 50%;
    background-color: #292E3D;
    color: white;
}

.text-info-window {
    color: white;
    text-align: center;

}

.empty-space {
    margin-top: 10px;
    width: 100%;
    height: 150px;
}


.task-form {
    display: flex;
    justify-content: center;
}

.task-manager-text {
    font-size: 35px;
    text-align: center;
}

.button-task-manager {
    color: white;
    background-color: #2947A9;
    border-radius: 6px;
    margin-left: 10px;
    border: none;
    width: 60px;
}
/* Форма сбора данных о пользователе */
.data-collection-form-text {
    text-align: center;
}

.form-question-text {
    font-size: 40px;
}

/* Подвал сайта */
.site-footer {
    background-color: #2947A9;
    height: 50px;
}

.text-footer {
    color: aliceblue;
    font-size: 16px;
    font-family: "WorkSans";
    padding-top: 14px;
    padding-left: 20px;
}

.boldtext {
    font-weight: 700;
}

.shrift {
    font-family: "WorkSans";
}

@font-face {
    font-family: "WorkSans";
    src: url("fonts") format("truetype");
    font-style: normal;
    font-weight: normal;
}