.site-navigator {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    position: relative;
}

.icon-header {
    width: 26px;
    height: 34px;
}

.left-header {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 50px;

}

.name-navigator {
    font-size: 25px;
    font-weight: 800;
    color: #2947A9;
    margin-left: 8px;

}

.right-header {
    margin-top: 20px;
    padding-left: 40%;
    position: absolute;
    right: 0px;
}

.item {
    color: black;
    font-family: "WorkSans";
    text-decoration: none;
    margin: 20px;
}

.last-item {
    color: orange;
}

.item:hover {
    color: blue;
    transition: 1s;
    text-decoration: underline;
}

/* середина сайта */
.site-presentation {
    background-image: url('/static/Background.jpg');
    height: 450px;
    width: 100%;
    position: relative;
}

.text-presentation {
    padding-top: 150px;
    padding-left: 170px;
    font-size: 50px;
}

.information-window {
    background-color: #3559C7;
    height: 156px;
    width: 280px;
    position: absolute;
    right: 0px;
    bottom: 0px;

}

.button-site-window {
    position: relative;
}

.button-next {
    position: absolute;
    right: 0px;
    width: 50%;
    background-color: #292E3D;
    color: white;
}

.button-back {
    position: absolute;
    width: 50%;
    background-color: #292E3D;
    color: white;
}

.button-back:hover {
    background-color: #4671ff;
}

.button-next:hover {
    background-color: #4671ff;
}

.text-info-window {
    color: white;
    text-align: center;

}

.task-manager {
    background-color: #F6F8F7;
    height: 500px;
    text-align: center;
}


.task-manager-text {
    font-size: 40px;
    text-align: center;
}

.button-task-manager {
    color: #FFF;
    background-color: #2947A9;
    border-radius: 6px;
    margin-left: 10px;
    border: none;
    width: 60px;
}

.white-task-block {
    background-color: white;
    height: 350px;
    width: 400px;
    display: inline-block;
}

.task-option {
    font-size: 30px;
    padding-bottom: 30px;
}

.select-option {
    width: 70px;
    height: 25px;
}

.task-first {
    display: flex;
    flex-direction: row;
}

.item-circle {
    padding: 4px 4px;
    color: white;
    background-color: black;
    border-radius: 50%;
}

/* Форма сбора данных о пользователе */

.data-collection {
    background-color: #e0e3ebd2;
}

.data-collection-form-text {
    text-align: center;
    margin-bottom: 50px;
}

.form-question-text {
    font-size: 40px;
}

.form-data-collection {
    text-align: center;
}

.input-collection-row {
}

.message-box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-message-box {
    width: 378px;
    height: 100px;
}

.data-collection-button {
    width: 450px;
    color: white;
    background-color: #2947A9;
    margin-bottom: 20px;
}

.data-collection-button:hover {
    background-color: #243B86;
}

/* Подвал сайта */
.site-footer {
    background-color: #2947A9;
    height: 50px;
}

.text-footer {
    color: aliceblue;
    font-size: 16px;
    font-family: "WorkSans";
    padding-top: 14px;
    padding-left: 20px;
}

.boldtext {
    font-weight: 700;
}

.shrift {
    font-family: "WorkSans";
}

@font-face {
    font-family: "WorkSans";
    src: url("fonts") format("truetype");
    font-style: normal;
    font-weight: normal;
}